<!DOCTYPE html>
<html lang="en">
<head>

	{% load static %}

	<meta charset="utf-8">
	<title>Big Town Blog (test)</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--



-->
	<link rel="stylesheet" href="{%static 'blogapp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'blogapp/css/animate.min.css' %}">
   	<link rel="stylesheet" href="{%static 'blogapp/css/owl.theme.css' %}">
	<link rel="stylesheet" href="{%static 'blogapp/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{%static 'blogapp/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{%static 'blogapp/css/style.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50" id="base">



<!-- Navigation section
================================================== -->
{% if user.is_authenticated %}
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="/blogapp/profile/" class="navbar-brand">{{user}} profile</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="/blogapp/#home" class="smoothScroll">HOME</a></li>
				<li><a href="/blogapp/#about" class="smoothScroll">BLOG</a></li>
				<li><a href="/blogapp/#contact" class="smoothScroll">CONTACT</a></li>
					<li><a href="/blogapp/logout" class="btn btn-danger">LOG OUT</a></li>
			</ul>
		</div>
	</div>
</section>
{% else %}
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">BIG CITY BLOG</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="/blogapp/#home" class="smoothScroll">HOME</a></li>
				<li><a href="/blogapp/#about" class="smoothScroll">BLOG</a></li>
				<li><a href="/blogapp/#contact" class="smoothScroll">CONTACT</a></li>
					<li><a href="/blogapp/register" class="btn btn-success">SING UP</a></li>
					<li><a href="/blogapp/login" class="btn btn-primary">LOG IN</a></li>
			</ul>
		</div>
	</div>
</section>
{% endif %}

<br><br><br>

{% block content %}
{% endblock %}

<!-- Javascript
================================================== -->
<script src="{%static 'blogapp/js/jquery.js' %}"></script>
<script src="{%static 'blogapp/js/bootstrap.min.js' %}"></script>
<script src="{%static 'blogapp/js/smoothscroll.js' %}"></script>
<script src="{%static 'blogapp/js/jquery.nav.js' %}"></script>
<script src="{%static 'blogapp/js/jquery.parallax.js' %}"></script>
<script src="{%static 'blogapp/js/owl.carousel.min.js' %}"></script>
<script src="{%static 'blogapp/js/isotope.min.js' %}"></script>
<script src="{%static 'blogapp/js/wow.min.js' %}"></script>
<script src="{%static 'blogapp/js/counter.js' %}"></script>
<script src="{%static 'blogapp/js/custom.js' %}"></script>

</body>
</html>