{% extends 'blogapp/base.html' %}
{% block content %}

<section id="profile" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-5 col-sm-5 wow fadeInUp register_form" data-wow-delay="0.3s">
				<div class="profile-detail">
					<h2>Change password</h2>
                    <form method="post">
                     {% csrf_token %}
                    {{ form.as_p }}
                        <button method="submit" class="btn btn-primary" style="width: 30%;">Send</button>
                        <br><br>
				</form>
                </div>
			</div>

		</div>
	</div>
</section>

{% endblock content %}
