{% extends 'blogapp/base.html' %}

{% block content %}
<!-- Post selection -->
{% for post in post_list %}
    {% if post.id == post_take %}

    <div class="row" id="write_post">

			<div class="col-md-6 col-sm-12 ">
				<img src="{{post.image_url}}" class="img-responsive ">
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="about-des">
					<h4>{{post.post_pub_date}}</h4>
					<h3>{{ post.header }}</h3>
					<p style="font-size: 15px;">{{post.post_text}}</p>
				</div>
			</div>

		</div>


    {% endif %}
{% endfor %}

{% endblock content %}