{% extends 'blogapp/base.html' %}
{% block content %}

<section id="writepost" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-sm-8 wow fadeInUp register_form" data-wow-delay="0.9s">
				<div class="writepost-detail">
					<h2 style="color:white">Write post</h2>
                    <form method="post" style="color: white;">
                     {% csrf_token %}
                    {{ form.image_url }}
                    {{ form.header }}
                    {{ form.post_text }}</p>
                        <input type="submit" class="form-control" href="#" id="write_submit" value="SEND POST">
				</form>
                </div>
			</div>

		</div>
	</div>
</section>

{% endblock content %}

<input type="submit" class="form-control" href="#" id="write_submit" value="SEND POST">